<mat-toolbar> <img src="./../assets/img/logo3.png" style="width:150px; height:63px;">
  
  <button mat-button routerLink="" style="margin-left:750px;">Home</button>
  <button mat-button routerLink="/recommendation" >Recommended</button>
  <button mat-button [matMenuTriggerFor]="menu">Movie</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/popular">Popular</button>
    <button mat-menu-item routerLink="/trending">Trending</button>
  </mat-menu>
 
    <button mat-button [matMenuTriggerFor]="menu2">{{user.userName}}
      <img  src="{{user.profileUrl}}" style="width:40px; height:40px; border-radius:90px">
    </button>
     <mat-menu #menu2="matMenu">
         <button mat-menu-item routerLink="/profile">Profile</button>
         <button mat-menu-item routerLink="/favorite">My Favorites</button>
         <button mat-menu-item routerLink="/watchlater">Watch later</button>
         <button mat-menu-item routerLink="/login" (click)="logout()">Logout</button>
       </mat-menu>
</mat-toolbar>

<!-- *ngFor="let u of user" -->
<section class="h-70 gradient-custom-2">
    <div class="container py-5 h-70">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-9 col-xl-5">
          <div class="card">
            <div class="rounded-top text-white d-flex flex-row" style="background-color: #E49B0F; height:200px;">
              <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                <img src="{{user.profileUrl}}"
                  alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                  style="width: 150px; z-index: 1">
                <!-- <button type="button" class="btn btn-outline-dark" data-mdb-ripple-color="dark"
                  style="z-index: 1;" (click)="getImage()">
                  Choose Picture
                </button> -->

            
              </div>
              <div class="ms-3" style="margin-top: 130px; color:black">
                <h2>{{user.userName}}</h2>
              </div>
            </div>
            <div class="card-body p-4 text-black" >
              <div class="mb-5 mt-5">
                <p class="lead fw-normal mb-1"></p>
                    <div class="p-4" style="background-color: #f8f9fa;" >
                    <p class="mb-1">Name  : {{user.userName}}</p>
                    <p class="mb-1">Email : {{user.emailId}}</p>
                    <p class="mb-3">City  : {{user.city}}</p>

                  <button class="btn mt-5 mb-3" style="width:200px; background-color: #E49B0F; color:black; margin-left:80px;" routerLink="/updateprofile"><b>Edit Profile</b></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

