/* for tool bar */

.mat-toolbar {
    background: black;
    color: #fff;
 }

 .mat-toolbar button:hover{
    background-color: #FF8C00;
  }
 
  /* lofin form design */
 .bx{
    background-color:black; 
    color:goldenrod;
    height:40px; 
    border-radius:5px; 
    padding-top:5px;
    margin-top: 3px;
    margin-bottom: 3px;
    border:5px solid goldenrod;
    height: 50px;
}
