<mat-toolbar> <img src="./../assets/img/logo3.png" style="width:150px; height:63px;">

    <button mat-button routerLink="" style="margin-left:900px;">Home</button>
    <button mat-button [matMenuTriggerFor]="menu" >Movie</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/popular">Popular</button>
      <button mat-menu-item routerLink="/trending">Trending</button>
    </mat-menu>
    <button mat-button routerLink="/register">Register</button>
</mat-toolbar>


<div class="text-center mt-5">
    <form style="max-width:450px; margin:auto; margin-top: 50px;" [formGroup]="loginFormGroup" (ngSubmit)="loginCheck()">
        <h2 class="h3 mb-4 bx">Login To MovieHub</h2>
        
        <input type="email" formControlName="emailId" class="form-control mb-3" placeholder="Registred Email" >
            <div *ngIf="(loginFormGroup.get('emailId')?.touched || loginFormGroup.get('emailId')?.dirty) && loginFormGroup.get('emailId')?.invalid"
                class="alert alert-danger">
                Valid EmailId required..!
            </div>

        <input type="password" formControlName="password" class="form-control" placeholder="Password">
            <div *ngIf="(loginFormGroup.get('password')?.touched || loginFormGroup.get('password')?.dirty) && loginFormGroup.get('password')?.invalid"
                class="alert alert-danger">
                Valid Password required..!
            </div>
        
        <div class="mt-4">
            <button class="btn btn-warning w-100" type="submit" [disabled]="!loginFormGroup.valid"><b>LOGIN</b></button><br>
        </div>
        <div class="mt-3">
            <label>Dont have an account?</label>
            <button class="btn btn-link" routerLink="/register">Register</button>
        </div>
        <!-- <div class="mt-2">
            <label>Forgot Password?</label>
            <button class="btn btn-link" routerLink="/reset">Click Here</button>
        </div> -->
    </form>
</div>

