.mat-toolbar {
    background: black;
    color: #fff;
 }
 .mat-toolbar button:hover{
    background-color: #FF8C00;
  }
 
  .footer {
   position: fixed;
   bottom: 0;
 }
 .container1{
   height:200px;
   background-color: black;

 }

 .container2{
   border:1px solid black;
   width: 500px;
   height: 100px;
   display:block;
  
 }
 .boxh1{
   border-bottom: 3px solid #FF8C00; 
   color:#fff; 
   padding-top:15px; 
   margin-left:30px; 
   position: absolute;
 }

 .container_1 {
   max-height: 800px;
   overflow: scroll;
 }
