<mat-toolbar> <img src="./../assets/img/logo3.png" style="width:150px; height:63px;">

    <!-- <button mat-button routerLink="" style="margin-left:900px;">Home</button>
    <button mat-button [matMenuTriggerFor]="menu" >Movie</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/popular">Popular</button>
      <button mat-menu-item routerLink="/trending">Trending</button>
    </mat-menu> -->
    <button mat-button style="margin-left:1000px;" routerLink="/login">Back</button>
</mat-toolbar>


<div class="text-center mt-5">
    <form style="max-width:450px; margin:auto; margin-top: 50px;">
        <h2 class="h3 mb-4 bx">Recover password</h2>
        
            <input type="email" name="eamil" #searchText placeholder="Registred Email" class="form-control mb-3"/>
            <button class="btn btn-warning w-100" (click)="recoverPassword()"><b>GET PASSWORD</b></button>
             <!-- <p>Password: {{password}}</p> -->
        </form>
</div>
